{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2023-04-20",
    "endpointPrefix":"bedrock",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceFullName":"Amazon Bedrock",
    "serviceId":"bedrock",
    "signatureVersion":"v4",
    "signingName":"bedrock",
    "uid":"bedrock-2023-04-20"
  },
  "operations":{
    "CreateModelCustomizationJob":{
      "name":"CreateModelCustomizationJob",
      "http":{
        "method":"POST",
        "requestUri":"/model-customization-jobs",
        "responseCode":201
      },
      "input":{"shape":"CreateModelCustomizationJobRequest"},
      "output":{"shape":"CreateModelCustomizationJobResponse"},
      "errors":[
        {"shape":"TooManyTagsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Create a job to model customize Bedrock foundation models or customized models with your custom training data.</p>",
      "idempotent":true
    },
    "DeleteCustomModel":{
      "name":"DeleteCustomModel",
      "http":{
        "method":"DELETE",
        "requestUri":"/custom-models/{modelIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"DeleteCustomModelRequest"},
      "output":{"shape":"DeleteCustomModelResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes a previously created Bedrock custom model.</p>",
      "idempotent":true
    },
    "GetCustomModel":{
      "name":"GetCustomModel",
      "http":{
        "method":"GET",
        "requestUri":"/custom-models/{modelIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetCustomModelRequest"},
      "output":{"shape":"GetCustomModelResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Get the properties associated with a Bedrock custom model that you have created.</p>"
    },
    "GetModelCustomizationJob":{
      "name":"GetModelCustomizationJob",
      "http":{
        "method":"GET",
        "requestUri":"/model-customization-jobs/{jobIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetModelCustomizationJobRequest"},
      "output":{"shape":"GetModelCustomizationJobResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets the properties associated with a model-customization job. Use this operation to get the status of a model-customization job.</p>"
    },
    "InvokeModel":{
      "name":"InvokeModel",
      "http":{
        "method":"POST",
        "requestUri":"/model/{modelId}/invoke",
        "responseCode":200
      },
      "input":{"shape":"InvokeModelRequest"},
      "output":{"shape":"InvokeModelResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ModelTimeoutException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ModelNotReadyException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ModelErrorException"}
      ],
      "documentation":"<p>Invokes the specified Bedrock model to run inference using the input provided in the request body.</p>"
    },
    "InvokeModelWithResponseStream":{
      "name":"InvokeModelWithResponseStream",
      "http":{
        "method":"POST",
        "requestUri":"/model/{modelId}/invoke-with-response-stream",
        "responseCode":200
      },
      "input":{"shape":"InvokeModelWithResponseStreamRequest"},
      "output":{"shape":"InvokeModelWithResponseStreamResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ModelTimeoutException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ModelNotReadyException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ModelErrorException"}
      ],
      "documentation":"<p>generate a multimodal completion from a model with streaming response</p>"
    },
    "ListCustomModels":{
      "name":"ListCustomModels",
      "http":{
        "method":"GET",
        "requestUri":"/custom-models",
        "responseCode":200
      },
      "input":{"shape":"ListCustomModelsRequest"},
      "output":{"shape":"ListCustomModelsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a list of Bedrock custom models that you have created.</p>"
    },
    "ListFoundationModels":{
      "name":"ListFoundationModels",
      "http":{
        "method":"GET",
        "requestUri":"/foundation-models",
        "responseCode":200
      },
      "input":{"shape":"ListFoundationModelsRequest"},
      "output":{"shape":"ListFoundationModelsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>List of Bedrock foundation models that you can use.</p>"
    },
    "ListModelCustomizationJobs":{
      "name":"ListModelCustomizationJobs",
      "http":{
        "method":"GET",
        "requestUri":"/model-customization-jobs",
        "responseCode":200
      },
      "input":{"shape":"ListModelCustomizationJobsRequest"},
      "output":{"shape":"ListModelCustomizationJobsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a list of model customization jobs that you have submitted.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/listTagsForResource",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>List tags for a Bedrock resource</p>"
    },
    "StopModelCustomizationJob":{
      "name":"StopModelCustomizationJob",
      "http":{
        "method":"POST",
        "requestUri":"/model-customization-jobs/{jobIdentifier}/stop",
        "responseCode":200
      },
      "input":{"shape":"StopModelCustomizationJobRequest"},
      "output":{"shape":"StopModelCustomizationJobResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Stop a Bedrock model customization job while in progress. This is an asynchronous operation, you need to call GetModelCustomizationJob API to get the status of model-customization job. If the job state is IN_PROGRESS the job is marked for termination and put into the STOPPING state. If the job completes before it can be stopped, it is put into the COMPLETED state; otherwise the job is stopped and put into the STOPPED state.</p>",
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tagResource",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"TooManyTagsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Tag a Bedrock resource</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/untagResource",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Untag a Bedrock resource</p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>This exception is thrown when a request is denied per access permissions</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "BatchSize":{
      "type":"integer",
      "documentation":"<Undocumented>",
      "box":true,
      "max":64,
      "min":1
    },
    "BedrockModelArn":{
      "type":"string",
      "documentation":"<p>ModelArn of a Bedrock model. This ARN can be used in IAM resource policies</p>",
      "pattern":"arn:aws(|-cn|-us-gov):bedrock:[a-z0-9-]{1,20}:([0-9]{12}|):(custom|foundation)-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}(/[a-z0-9]{12}|)"
    },
    "BedrockModelId":{
      "type":"string",
      "documentation":"<p>Identifier of the model</p>",
      "max":140,
      "min":0,
      "pattern":"[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}(/[a-z0-9]{12}|)"
    },
    "Body":{
      "type":"blob",
      "documentation":"<p>Model input and output as a binary large object</p>",
      "max":25000000,
      "min":0,
      "sensitive":true
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>This exception is thrown when there is a conflict performing an operation</p>",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "CreateModelCustomizationJobRequest":{
      "type":"structure",
      "required":[
        "jobName",
        "customModelName",
        "roleArn",
        "baseModelIdentifier",
        "trainingDataConfig",
        "outputDataConfig",
        "hyperParameters"
      ],
      "members":{
        "jobName":{
          "shape":"JobName",
          "documentation":"<Undocumented>"
        },
        "customModelName":{
          "shape":"CustomModelName",
          "documentation":"<Undocumented>"
        },
        "roleArn":{
          "shape":"RoleArn",
          "documentation":"<Undocumented>"
        },
        "clientRequestToken":{
          "shape":"IdempotencyToken",
          "documentation":"<Undocumented>",
          "idempotencyToken":true
        },
        "baseModelIdentifier":{
          "shape":"ModelIdentifier",
          "documentation":"<Undocumented>"
        },
        "jobTags":{
          "shape":"TagList",
          "documentation":"<Undocumented>"
        },
        "customModelTags":{
          "shape":"TagList",
          "documentation":"<Undocumented>"
        },
        "trainingDataConfig":{
          "shape":"TrainingDataConfig",
          "documentation":"<Undocumented>"
        },
        "validationDataConfig":{
          "shape":"ValidationDataConfig",
          "documentation":"<Undocumented>"
        },
        "outputDataConfig":{
          "shape":"OutputDataConfig",
          "documentation":"<Undocumented>"
        },
        "hyperParameters":{
          "shape":"ModelCustomizationHyperParameters",
          "documentation":"<Undocumented>"
        }
      },
      "documentation":"<p>Create Model Customization Job Request</p>"
    },
    "CreateModelCustomizationJobResponse":{
      "type":"structure",
      "required":["jobArn"],
      "members":{
        "jobArn":{
          "shape":"ModelCustomizationJobArn",
          "documentation":"<Undocumented>"
        }
      },
      "documentation":"<p>Create Model Customization Response</p>"
    },
    "CreatedAt":{
      "type":"long",
      "documentation":"<p>Time the resource was created in milliseconds</p>",
      "box":true
    },
    "CustomModelArn":{
      "type":"string",
      "documentation":"<p>ARN of a Bedrock model</p>",
      "max":1011,
      "min":20,
      "pattern":"arn:aws(|-cn|-us-gov):bedrock:[a-z0-9-]{1,20}:[0-9]{12}:custom-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}/[a-z0-9]{12}.*"
    },
    "CustomModelName":{
      "type":"string",
      "documentation":"<p>Name of the Bedrock custom model.</p>",
      "max":63,
      "min":1,
      "pattern":"([0-9a-zA-Z][_-]?)+"
    },
    "CustomModelSummary":{
      "type":"structure",
      "required":[
        "modelArn",
        "modelName",
        "creationTime",
        "baseModelArn",
        "baseModelName"
      ],
      "members":{
        "modelArn":{"shape":"ModelArn"},
        "modelName":{"shape":"CustomModelName"},
        "creationTime":{"shape":"CreatedAt"},
        "baseModelArn":{"shape":"ModelArn"},
        "baseModelName":{"shape":"ModelName"}
      },
      "documentation":"<Undocumented>"
    },
    "CustomModelSummaryList":{
      "type":"list",
      "member":{"shape":"CustomModelSummary"},
      "documentation":"<Undocumented>"
    },
    "DeleteCustomModelRequest":{
      "type":"structure",
      "required":["modelIdentifier"],
      "members":{
        "modelIdentifier":{
          "shape":"ModelIdentifier",
          "documentation":"<p>Identifier accepts either custom model ARN or custom model name</p>",
          "location":"uri",
          "locationName":"modelIdentifier"
        }
      },
      "documentation":"<p>Delete Model Request</p>"
    },
    "DeleteCustomModelResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Delete Model Response</p>"
    },
    "EndAt":{
      "type":"long",
      "documentation":"<p>Time the resource was transitioned to terminal state in milliseconds</p>",
      "box":true
    },
    "EpochCount":{
      "type":"integer",
      "documentation":"<Undocumented>",
      "box":true,
      "max":50,
      "min":1
    },
    "ErrorMessage":{
      "type":"string",
      "documentation":"<p>Detailed message for InError state</p>",
      "max":2048,
      "min":0
    },
    "FineTuningHyperParameters":{
      "type":"structure",
      "members":{
        "epochCount":{"shape":"EpochCount"},
        "batchSize":{"shape":"BatchSize"},
        "learningRateConfig":{"shape":"LearningRateConfig"}
      },
      "documentation":"<Undocumented>"
    },
    "FineTuningJobArn":{
      "type":"string",
      "documentation":"<p>ARN or name of the Bedrock fine tuning job</p>",
      "max":1011,
      "min":0,
      "pattern":".*(^arn:aws(-[^:]+)?:amazon-bedrock:[a-zA-Z0-9-]*:([0-9]{12})?:fine-tuning-job/.+$)|(^arn:aws(|-cn|-us-gov):bedrock:[a-z0-9-]{1,20}:([0-9]{12}|):(fine-tuning-job|model-customization-job)/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}(/[a-z0-9]{12})).*"
    },
    "FineTuningJobStatus":{
      "type":"string",
      "documentation":"<Undocumented>",
      "enum":[
        "InProgress",
        "Completed",
        "Failed",
        "Stopping",
        "Stopped"
      ]
    },
    "FoundationModelArn":{
      "type":"string",
      "documentation":"<p>ARN for Bedrock Foundation Models. These models can be used as base models for model customization jobs</p>",
      "pattern":"arn:aws(|-cn|-us-gov):bedrock:[a-z0-9-]{1,20}:([0-9]{12}|):foundation-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}/[a-z0-9]{12}"
    },
    "FoundationModelSummary":{
      "type":"structure",
      "required":[
        "modelArn",
        "modelId"
      ],
      "members":{
        "modelArn":{"shape":"BedrockModelArn"},
        "modelId":{"shape":"BedrockModelId"}
      },
      "documentation":"<p>Summary of a foundation model</p>"
    },
    "FoundationModelSummaryList":{
      "type":"list",
      "member":{"shape":"FoundationModelSummary"},
      "documentation":"<p>List of bedrock foundation models</p>"
    },
    "GetCustomModelRequest":{
      "type":"structure",
      "required":["modelIdentifier"],
      "members":{
        "modelIdentifier":{
          "shape":"ModelIdentifier",
          "location":"uri",
          "locationName":"modelIdentifier"
        }
      },
      "documentation":"<p>Get Custom Model Request</p>"
    },
    "GetCustomModelResponse":{
      "type":"structure",
      "required":[
        "modelArn",
        "modelName",
        "jobArn",
        "baseModelArn",
        "trainingDataConfig",
        "outputDataConfig",
        "creationTime"
      ],
      "members":{
        "modelArn":{"shape":"ModelArn"},
        "modelName":{"shape":"CustomModelName"},
        "jobName":{"shape":"JobName"},
        "jobArn":{"shape":"FineTuningJobArn"},
        "baseModelArn":{"shape":"ModelArn"},
        "hyperParameters":{"shape":"FineTuningHyperParameters"},
        "trainingDataConfig":{"shape":"TrainingDataConfig"},
        "validationDataConfig":{"shape":"ValidationDataConfig"},
        "outputDataConfig":{"shape":"OutputDataConfig"},
        "trainingMetrics":{"shape":"TrainingMetrics"},
        "validationMetrics":{"shape":"ValidationMetrics"},
        "realTimeInferenceStatus":{"shape":"RealTimeInferenceStatus"},
        "creationTime":{"shape":"CreatedAt"}
      },
      "documentation":"<p>Get Custom Model Response</p>"
    },
    "GetModelCustomizationJobRequest":{
      "type":"structure",
      "required":["jobIdentifier"],
      "members":{
        "jobIdentifier":{
          "shape":"ModelCustomizationJobIdentifier",
          "location":"uri",
          "locationName":"jobIdentifier"
        }
      },
      "documentation":"<p>Get Model Customization Request</p>"
    },
    "GetModelCustomizationJobResponse":{
      "type":"structure",
      "required":[
        "jobArn",
        "jobName",
        "outputModelName",
        "roleArn",
        "creationTime",
        "baseModelArn",
        "hyperParameters",
        "trainingDataConfig",
        "validationDataConfig",
        "outputDataConfig"
      ],
      "members":{
        "jobArn":{"shape":"ModelCustomizationJobArn"},
        "jobName":{"shape":"JobName"},
        "outputModelName":{"shape":"CustomModelName"},
        "outputModelArn":{"shape":"CustomModelArn"},
        "clientRequestToken":{"shape":"IdempotencyToken"},
        "roleArn":{"shape":"RoleArn"},
        "status":{"shape":"ModelCustomizationJobStatus"},
        "failureMessage":{"shape":"ErrorMessage"},
        "creationTime":{"shape":"CreatedAt"},
        "lastModifiedTime":{"shape":"UpdatedAt"},
        "endTime":{"shape":"EndAt"},
        "baseModelArn":{"shape":"FoundationModelArn"},
        "hyperParameters":{"shape":"ModelCustomizationHyperParameters"},
        "trainingDataConfig":{"shape":"TrainingDataConfig"},
        "validationDataConfig":{"shape":"ValidationDataConfig"},
        "outputDataConfig":{"shape":"OutputDataConfig"},
        "trainingMetrics":{"shape":"TrainingMetrics"},
        "validationMetrics":{"shape":"ValidationMetrics"}
      },
      "documentation":"<p>Get Model Customization Response</p>"
    },
    "IdempotencyToken":{
      "type":"string",
      "documentation":"<p>Client specified token used for idempotency checks</p>",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "InternalServerException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>This exception is thrown if there was an unexpected error during processing of request</p>",
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "InvokeModelRequest":{
      "type":"structure",
      "required":[
        "body",
        "modelId"
      ],
      "members":{
        "body":{
          "shape":"Body",
          "documentation":"<p>Input data in the format specified in the Content-Type request header.</p>"
        },
        "contentType":{
          "shape":"MimeType",
          "documentation":"<p>The MIME type of the input data in the request body.</p>",
          "location":"header",
          "locationName":"Content-Type"
        },
        "accept":{
          "shape":"MimeType",
          "documentation":"<p>The desired MIME type of the inference body in the response.</p>",
          "location":"header",
          "locationName":"Accept"
        },
        "modelId":{
          "shape":"ModelIdentifier",
          "location":"uri",
          "locationName":"modelId"
        }
      },
      "documentation":"<p>InvokeModel Request</p>",
      "payload":"body"
    },
    "InvokeModelResponse":{
      "type":"structure",
      "required":[
        "body",
        "contentType"
      ],
      "members":{
        "body":{
          "shape":"Body",
          "documentation":"<p>Inference response from the model in the format specified in the Content-Type response header.</p>"
        },
        "contentType":{
          "shape":"MimeType",
          "documentation":"<p>The MIME type of the inference returned in the response body.</p>",
          "location":"header",
          "locationName":"Content-Type"
        }
      },
      "documentation":"<p>InvokeModel Response</p>",
      "payload":"body"
    },
    "InvokeModelWithResponseStreamRequest":{
      "type":"structure",
      "required":[
        "body",
        "modelId"
      ],
      "members":{
        "body":{"shape":"Body"},
        "contentType":{
          "shape":"MimeType",
          "location":"header",
          "locationName":"Content-Type"
        },
        "accept":{
          "shape":"MimeType",
          "documentation":"<p>streaming response mimetype to accept</p>",
          "location":"header",
          "locationName":"X-Amzn-Bedrock-Accept"
        },
        "modelId":{
          "shape":"ModelIdentifier",
          "location":"uri",
          "locationName":"modelId"
        }
      },
      "documentation":"<p>prompt or input to invoke the model</p>",
      "payload":"body"
    },
    "InvokeModelWithResponseStreamResponse":{
      "type":"structure",
      "required":[
        "body",
        "contentType"
      ],
      "members":{
        "body":{"shape":"ResponseStream"},
        "contentType":{
          "shape":"MimeType",
          "documentation":"<p>streaming response mimetype of the model</p>",
          "location":"header",
          "locationName":"X-Amzn-Bedrock-Content-Type"
        }
      },
      "documentation":"<p>completion or output from the model</p>",
      "payload":"body"
    },
    "JobName":{
      "type":"string",
      "documentation":"<p>Name of the Bedrock job.</p>",
      "max":63,
      "min":1,
      "pattern":"[a-zA-Z0-9](-*[a-zA-Z0-9\\+\\-\\.])*"
    },
    "LearningRate":{
      "type":"float",
      "documentation":"<Undocumented>",
      "box":true,
      "max":1.0,
      "min":0
    },
    "LearningRateConfig":{
      "type":"structure",
      "members":{
        "learningRate":{"shape":"LearningRate"},
        "learningRateWarmupSteps":{"shape":"LearningRateWarmupSteps"}
      },
      "documentation":"<Undocumented>"
    },
    "LearningRateWarmupSteps":{
      "type":"integer",
      "documentation":"<Undocumented>",
      "box":true,
      "max":250,
      "min":0
    },
    "ListCustomModelsRequest":{
      "type":"structure",
      "members":{
        "creationTimeBefore":{
          "shape":"Timestamp",
          "location":"querystring",
          "locationName":"creationTimeBefore"
        },
        "creationTimeAfter":{
          "shape":"Timestamp",
          "location":"querystring",
          "locationName":"creationTimeAfter"
        },
        "nameContains":{
          "shape":"CustomModelName",
          "location":"querystring",
          "locationName":"nameContains"
        },
        "maxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "sortBy":{
          "shape":"SortModelsBy",
          "location":"querystring",
          "locationName":"sortBy"
        },
        "sortOrder":{
          "shape":"SortOrder",
          "location":"querystring",
          "locationName":"sortOrder"
        }
      },
      "documentation":"<p>List Custom Models Request</p>"
    },
    "ListCustomModelsResponse":{
      "type":"structure",
      "members":{
        "nextToken":{"shape":"PaginationToken"},
        "modelSummaries":{"shape":"CustomModelSummaryList"}
      },
      "documentation":"<p>List Custom Models Response</p>"
    },
    "ListFoundationModelsRequest":{
      "type":"structure",
      "members":{
        "byProvider":{
          "shape":"Provider",
          "location":"querystring",
          "locationName":"byProvider"
        }
      },
      "documentation":"<p>ListFoundationModels Request</p>"
    },
    "ListFoundationModelsResponse":{
      "type":"structure",
      "members":{
        "modelSummaries":{"shape":"FoundationModelSummaryList"}
      },
      "documentation":"<p>ListFoundationModels Response</p>"
    },
    "ListModelCustomizationJobsRequest":{
      "type":"structure",
      "members":{
        "creationTimeAfter":{
          "shape":"Timestamp",
          "location":"querystring",
          "locationName":"creationTimeAfter"
        },
        "creationTimeBefore":{
          "shape":"Timestamp",
          "location":"querystring",
          "locationName":"creationTimeBefore"
        },
        "statusEquals":{
          "shape":"FineTuningJobStatus",
          "location":"querystring",
          "locationName":"statusEquals"
        },
        "nameContains":{
          "shape":"JobName",
          "location":"querystring",
          "locationName":"nameContains"
        },
        "maxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "sortBy":{
          "shape":"SortJobsBy",
          "location":"querystring",
          "locationName":"sortBy"
        },
        "sortOrder":{
          "shape":"SortOrder",
          "location":"querystring",
          "locationName":"sortOrder"
        }
      },
      "documentation":"<p>List Model Customization Jobs Request</p>"
    },
    "ListModelCustomizationJobsResponse":{
      "type":"structure",
      "members":{
        "nextToken":{"shape":"PaginationToken"},
        "modelCustomizationJobSummaries":{"shape":"ModelCustomizationJobSummaries"}
      },
      "documentation":"<p>List Model Customization Jobs Response</p>"
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["resourceARN"],
      "members":{
        "resourceARN":{"shape":"TaggableResourcesArn"}
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "tags":{"shape":"TagList"}
      }
    },
    "MaxResults":{
      "type":"integer",
      "documentation":"<p>Max Results</p>",
      "box":true,
      "max":1000,
      "min":1
    },
    "MetricFloat":{
      "type":"float",
      "documentation":"<Undocumented>",
      "box":true
    },
    "MimeType":{
      "type":"string",
      "documentation":"<p>Content type of the request</p>"
    },
    "ModelArn":{
      "type":"string",
      "documentation":"<p>ARN of a Bedrock model</p>",
      "max":1011,
      "min":20,
      "pattern":".*(^arn:aws(-[^:]+)?:amazon-bedrock:[a-zA-Z0-9-]*:(([0-9]{12})|(aws))?:(custom|built-in)-model/.+$)|(^arn:aws(|-cn|-us-gov):bedrock:[a-z0-9-]{1,20}:(([0-9]{12}:custom-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}(/[a-z0-9]{12}))|(:foundation-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}))).*"
    },
    "ModelCustomizationHyperParameters":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"},
      "documentation":"<Undocumented>"
    },
    "ModelCustomizationJobArn":{
      "type":"string",
      "documentation":"<p>ARN of the Bedrock model customization job</p>",
      "max":1011,
      "min":0,
      "pattern":".*(^arn:aws(|-cn|-us-gov):bedrock:[a-z0-9-]{1,20}:([0-9]{12}|):model-customization-job/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}(/[a-z0-9]{12})).*"
    },
    "ModelCustomizationJobIdentifier":{
      "type":"string",
      "documentation":"<p>ARN or name of the Bedrock model customization job</p>",
      "max":1011,
      "min":0,
      "pattern":".*(^arn:aws(|-cn|-us-gov):bedrock:[a-z0-9-]{1,20}:([0-9]{12}|):model-customization-job/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}(/[a-z0-9]{12}))|([a-zA-Z0-9][a-zA-Z0-9\\-]*$).*"
    },
    "ModelCustomizationJobStatus":{
      "type":"string",
      "documentation":"<Undocumented>",
      "enum":[
        "InProgress",
        "Completed",
        "Failed",
        "Stopping",
        "Stopped"
      ]
    },
    "ModelCustomizationJobSummaries":{
      "type":"list",
      "member":{"shape":"ModelCustomizationJobSummary"},
      "documentation":"<Undocumented>"
    },
    "ModelCustomizationJobSummary":{
      "type":"structure",
      "required":[
        "jobArn",
        "baseModelArn",
        "jobName",
        "status",
        "creationTime"
      ],
      "members":{
        "jobArn":{"shape":"ModelCustomizationJobArn"},
        "baseModelArn":{"shape":"FoundationModelArn"},
        "jobName":{"shape":"JobName"},
        "status":{"shape":"ModelCustomizationJobStatus"},
        "lastModifiedTime":{"shape":"UpdatedAt"},
        "creationTime":{"shape":"CreatedAt"},
        "endTime":{"shape":"EndAt"},
        "customModelArn":{"shape":"CustomModelArn"},
        "customModelName":{"shape":"CustomModelName"}
      },
      "documentation":"<Undocumented>"
    },
    "ModelErrorException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"},
        "originalStatusCode":{"shape":"StatusCode"},
        "resourceName":{"shape":"NonBlankString"}
      },
      "documentation":"<p>This exception is thrown when a request fails in the model container</p>",
      "error":{
        "httpStatusCode":424,
        "senderFault":true
      },
      "exception":true
    },
    "ModelIdentifier":{
      "type":"string",
      "documentation":"<p>ARN or name of a Bedrock model</p>",
      "max":2048,
      "min":1,
      "pattern":".*(^[a-zA-Z0-9-_.]+$)|(^arn:aws(-[^:]+)?:amazon-bedrock:[a-zA-Z0-9-]*:(([0-9]{12})|(aws))?:(custom|built-in)-model/.+$)|(^arn:aws(|-cn|-us-gov):bedrock:[a-z0-9-]{1,20}:(([0-9]{12}:custom-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}(/[a-z0-9]{12}))|(:foundation-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}))).*"
    },
    "ModelName":{
      "type":"string",
      "documentation":"<p>Name of the Bedrock custom or built-in model.</p>",
      "max":63,
      "min":1,
      "pattern":"([0-9a-zA-Z][\\_\\-\\.]?)+"
    },
    "ModelNotReadyException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>This exception is thrown when the ML model is not ready to serve inference requests</p>",
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true
    },
    "ModelStreamErrorException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"},
        "originalStatusCode":{"shape":"StatusCode"},
        "originalMessage":{"shape":"NonBlankString"}
      },
      "documentation":"<p>This exception is thrown when a request fails in the model container</p>",
      "error":{
        "httpStatusCode":424,
        "senderFault":true
      },
      "exception":true
    },
    "ModelTimeoutException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>This exception is thrown when the request takes too long to process</p>",
      "error":{
        "httpStatusCode":408,
        "senderFault":true
      },
      "exception":true
    },
    "NonBlankString":{
      "type":"string",
      "documentation":"<p>Non Blank String</p>",
      "pattern":"[\\s\\S]*"
    },
    "OutputDataConfig":{
      "type":"structure",
      "required":["s3Uri"],
      "members":{
        "s3Uri":{
          "shape":"S3Uri",
          "documentation":"<p>Output files structure in the Customer's S3 folder - training_job_id/</p> <ul> <li>training_artifacts <ul> <li>step_wise_training_metrics.csv</li> </ul> </li> <li>validation_artifacts <ul> <li>post_training_validation <ul> <li>validation_metrics.csv</li> </ul> </li> </ul> </li> </ul> <p>Output files format and structure</p> <ol> <li> <p>step_wise_training_metrics.csv step_number,epoch_number,training_loss 1,1,0.2 2,1,0.18 ...</p> </li> <li> <p>validation_metrics.csv step_number,epoch_number,validation_loss 1, 1, 0.12 2, 1, 0.09 3, 2, 0.06 .....</p> </li> </ol>"
        }
      },
      "documentation":"<p>Specifies the Amazon S3 path where you want Bedrock to store the results of your model customization job</p>"
    },
    "PaginationToken":{
      "type":"string",
      "documentation":"<p>Opaque continuation token of previous paginated response</p>",
      "max":2048,
      "min":1,
      "pattern":"\\S*"
    },
    "PartBody":{
      "type":"blob",
      "documentation":"<Undocumented>",
      "max":1000000,
      "min":0,
      "sensitive":true
    },
    "PayloadPart":{
      "type":"structure",
      "members":{
        "bytes":{"shape":"PartBody"}
      },
      "documentation":"<Undocumented>",
      "event":true,
      "sensitive":true
    },
    "Provider":{
      "type":"string",
      "documentation":"<p>A model provider of Bedrock</p>",
      "pattern":"[a-z0-9-]{1,63}"
    },
    "RealTimeInferenceStatus":{
      "type":"string",
      "documentation":"<p>Real Time Inference Status</p>",
      "enum":[
        "ACTIVE",
        "INACTIVE",
        "ACTIVATING"
      ]
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "ResponseStream":{
      "type":"structure",
      "members":{
        "chunk":{"shape":"PayloadPart"},
        "internalServerException":{"shape":"InternalServerException"},
        "modelStreamErrorException":{"shape":"ModelStreamErrorException"}
      },
      "documentation":"<Undocumented>",
      "eventstream":true,
      "union":true
    },
    "RoleArn":{
      "type":"string",
      "documentation":"<p>ARN of a IAM role</p>",
      "max":2048,
      "min":0,
      "pattern":"arn:aws(-[^:]+)?:iam::([0-9]{12})?:role/.+"
    },
    "S3Uri":{
      "type":"string",
      "documentation":"<p>A path in S3</p>",
      "max":1024,
      "min":1,
      "pattern":"s3://[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9](/.*)?"
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>This exception is thrown when a request is made beyond the service quota</p>",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "SortJobsBy":{
      "type":"string",
      "documentation":"<p>Field to sort jobs by</p>",
      "enum":["CreationTime"]
    },
    "SortModelsBy":{
      "type":"string",
      "documentation":"<p>Field to sort models by</p>",
      "enum":["CreationTime"]
    },
    "SortOrder":{
      "type":"string",
      "documentation":"<p>Order to sort results by</p>",
      "enum":[
        "Ascending",
        "Descending"
      ]
    },
    "StatusCode":{
      "type":"integer",
      "documentation":"<p>Status Code</p>",
      "box":true,
      "max":599,
      "min":100
    },
    "StopModelCustomizationJobRequest":{
      "type":"structure",
      "required":["jobIdentifier"],
      "members":{
        "jobIdentifier":{
          "shape":"ModelCustomizationJobIdentifier",
          "location":"uri",
          "locationName":"jobIdentifier"
        }
      },
      "documentation":"<p>Stop Model Customization Job Request</p>"
    },
    "StopModelCustomizationJobResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Stop Model Customization Job Response</p>"
    },
    "String":{"type":"string"},
    "Tag":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{"shape":"TagKey"},
        "value":{"shape":"TagValue"}
      },
      "documentation":"<Undocumented>"
    },
    "TagKey":{
      "type":"string",
      "documentation":"<p>Tag Key</p>",
      "max":128,
      "min":1
    },
    "TagKeyList":{
      "type":"list",
      "member":{"shape":"TagKey"},
      "documentation":"<p>List of Tag Keys</p>",
      "max":200,
      "min":0
    },
    "TagList":{
      "type":"list",
      "member":{"shape":"Tag"},
      "documentation":"<p>List of Tags</p>",
      "max":200,
      "min":0
    },
    "TagResourceRequest":{
      "type":"structure",
      "required":[
        "resourceARN",
        "tags"
      ],
      "members":{
        "resourceARN":{"shape":"TaggableResourcesArn"},
        "tags":{"shape":"TagList"}
      }
    },
    "TagResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "TagValue":{
      "type":"string",
      "documentation":"<p>Tag Value</p>",
      "max":256,
      "min":0
    },
    "TaggableResourcesArn":{
      "type":"string",
      "documentation":"<p>ARN of Taggable resources: [Custom model, fine tuning job]</p>",
      "max":1011,
      "min":20,
      "pattern":".*(^arn:aws(-[^:]+)?:amazon-bedrock:[a-zA-Z0-9-]*:[0-9]{12}:(fine-tuning-job|custom-model)/.+$)|([a-zA-Z0-9][a-zA-Z0-9\\-]*$)|(^arn:aws(|-cn|-us-gov):bedrock:[a-z0-9-]{1,20}:([0-9]{12}|):(fine-tuning-job|model-customization-job|custom-model)/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}(/[a-z0-9]{12})$).*"
    },
    "ThrottlingException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>This exception is thrown when the number of requests exceeds the limit</p>",
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true
    },
    "Timestamp":{
      "type":"timestamp",
      "documentation":"<p>Time Stamp</p>",
      "timestampFormat":"iso8601"
    },
    "TooManyTagsException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"},
        "resourceName":{"shape":"TaggableResourcesArn"}
      },
      "documentation":"<p>This exception is thrown when a resource has more than 50 tags</p>",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "TrainingDataConfig":{
      "type":"structure",
      "required":["s3Uri"],
      "members":{
        "s3Uri":{
          "shape":"S3Uri",
          "documentation":"<p>Only JSONL format will be supported for gated preview Example - {&quot;input&quot;: &quot;<prompt text>&quot;, &quot;output&quot;: &quot;<expected generated text>&quot;} {&quot;input&quot;: &quot;<prompt text>&quot;, &quot;output&quot;: &quot;<expected generated text>&quot;}</p>"
        }
      },
      "documentation":"<Undocumented>"
    },
    "TrainingMetrics":{
      "type":"structure",
      "members":{
        "trainingLoss":{"shape":"MetricFloat"}
      },
      "documentation":"<Undocumented>"
    },
    "UntagResourceRequest":{
      "type":"structure",
      "required":[
        "resourceARN",
        "tagKeys"
      ],
      "members":{
        "resourceARN":{"shape":"TaggableResourcesArn"},
        "tagKeys":{"shape":"TagKeyList"}
      }
    },
    "UntagResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "UpdatedAt":{
      "type":"long",
      "documentation":"<p>Time the resource was updated in milliseconds</p>",
      "box":true
    },
    "ValidationDataConfig":{
      "type":"structure",
      "required":["validators"],
      "members":{
        "validators":{"shape":"Validators"}
      },
      "documentation":"<Undocumented>"
    },
    "ValidationException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>This exception is thrown when the request's input validation fails</p>",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ValidationMetrics":{
      "type":"list",
      "member":{"shape":"ValidatorMetric"},
      "documentation":"<Undocumented>"
    },
    "Validator":{
      "type":"structure",
      "required":[
        "name",
        "s3Uri"
      ],
      "members":{
        "name":{"shape":"ValidatorName"},
        "s3Uri":{
          "shape":"S3Uri",
          "documentation":"<p>Only JSONL format will be supported for gated preview Example - {&quot;input&quot;: &quot;<prompt text>&quot;, &quot;expectedOutput&quot;: &quot;<expected generated text>&quot;} {&quot;input&quot;: &quot;<prompt text>&quot;, &quot;expectedOutput&quot;: &quot;<expected generated text>&quot;}</p>"
        }
      },
      "documentation":"<Undocumented>"
    },
    "ValidatorMetric":{
      "type":"structure",
      "members":{
        "validatorName":{"shape":"ValidatorName"},
        "validationLoss":{"shape":"MetricFloat"}
      },
      "documentation":"<Undocumented>"
    },
    "ValidatorName":{
      "type":"string",
      "documentation":"<p>Name of a validator.</p>",
      "max":63,
      "min":1,
      "pattern":"[a-zA-Z0-9](-*[a-zA-Z0-9\\+\\-\\.])*"
    },
    "Validators":{
      "type":"list",
      "member":{"shape":"Validator"},
      "documentation":"<Undocumented>",
      "max":10,
      "min":0
    }
  },
  "documentation":"<p>Amazon Bedrock</p>"
}
